<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.as.example"
    android:installLocation="preferExternal">

    <application
        android:allowBackup="true"
        android:label="android_studio_example">
		
        <activity
            android:name="com.as.example.main_activity"
            android:label="main_activity"  
            android:configChanges="orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
